<div class='well' />
  <%= form_for @comment do |f| %>
    <div class='control-group' %>
      <%= f.label :body %>
      <%= f.text_area :body, rows: 5 %>
    </div>

    <%= f.submit('Post Comment', class: 'btn btn-primary') %>
  <% end %>
</div>