<h3>Welcome!</h3>

<p>This is the Postit template. You've access the PostsController, index action. This is the index template. Find me under app/views/posts folder.</p>

<% @posts.each do |post| %>
  <table>
    <tr>
      <td><%= post.title %></td>
      <td><%= link_to 'Show', post %></td>
    </tr>
  </table>
<% end %>
